@{
    Layout = "_LayoutPasswordRequest";
}
<div id="divloader" class="vertical-align text-center loadermodal">
    <div class="loader vertical-align-middle loader-cube"></div>
</div>
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content col-lg-7  vertical-align-middle horizontal-align-middle">
        <!-- Panel Wizard Form Container -->
        <div class="panel" id="exampleWizardFormContainer">
            <div class="panel-body">
                <!-- Steps -->
                <div class="pearls  row">
                    <div class="pearl current col-4">
                        <div class="pearl-icon"><i class="icon md-account" aria-hidden="true"></i></div>
                        <span class="pearl-title">تایید اطلاعات کاربری</span>
                    </div>
                    <div class="pearl col-4">
                        <div class="pearl-icon"><i class="icon md-card" aria-hidden="true"></i></div>
                        <span class="pearl-title">تعیین رمز عبور جدید</span>
                    </div>
                    <div class="pearl col-4">
                        <div class="pearl-icon"><i class="icon md-check" aria-hidden="true"></i></div>
                        <span class="pearl-title">پایان</span>
                    </div>
                </div>
                <!-- End Steps -->
                <!-- Wizard Content -->
                <div class="wizard-content">
                    <div class="wizard-pane active" id="step1" role="tabpanel">
                        <h4>ابتدا نام کاربری(تلفن همراه) خود را مشخص کنید</h4>
                        <form autocomplete="off">
                            <div class="form-group form-material floating" data-plugin="formMaterial">
                                <input type="text" class="form-control empty" maxlength="11" lang="num" id="Mobile" required />
                                <label class="floating-label" for="Mobile">تلفن همراه</label>
                            </div>
                            @*<div class="form-group form-material floating row" data-plugin="formMaterial">
                                <div class="col-md-6">
                                    <img id="cimgg" src="@Url.Content("~/Captcha/PRCaptcha.jpg")" alt="Captcha" />
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" lang="num" placeholder="تصویر امنیتی" maxlength="5" id="Captcha" style="direction:RTL" required />
                                </div>
                            </div>*@
                            <div class="form-group">
                                <button type="button" onclick="sendverify();" class="btn btn-primary btn-block">مرحله بعد</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Wizard Content -->
            </div>
        </div>
        <!-- End Panel Wizard Form Container -->
    </div>
</div>
