<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
</head>
<body>
    <script>
    var HostUrl = "http://" + "@Context.Request.Host";
    window.location.href = HostUrl;
    </script>
</body>
</html>
